[general]
terminal = Termsharp
collapse-repeated-log-entries = True
compiler-cache-enabled = False
serialization-mode = Generated
use-synchronous-logging = False
always-log-machine-name = False
log-history-limit = 1000
history-path = /root/.config/renode/history
[monitor]
consume-exceptions-from-command = True
break-script-on-exception = True
number-format = Hexadecimal
[plugins]
enabled-plugins = 
[termsharp]
append-CR-to-LF = True
font-face = Roboto Mono
font-size = 16
window-width = 1000
window-height = 800
window-offset-x = 30
window-offset-y = 50
